= simple_form_for(@comment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :body
    = f.input :resource_id
    = f.input :resource_type

  .form-actions
    = f.button :submit
