%h1= @user.name

- if current_user == @user
  = render 'reports/form', user: @user

%p
- @reports.each do |report|
  .label.label-info
    = l report.created_at
  %p
  = markdown(report.body)
  %p

  - @comments = report.comments.includes(:user).order(created_at: :desc)
  - @comments.each do |comment|
    %img.user_icon{:src => comment.user.image}
    = comment.body
    = comment.user.name
    = l comment.created_at
    %p

  = simple_form_for [@user, report, Comment.new], data: {remote: true} do |f|

    .form-inputs
      = f.hidden_field :user_id, value: current_user.id
      = f.input :body, label: false
      = f.hidden_field :resource_id, value: report.id
      = f.hidden_field :resource_type, value: 'Report'

    .form-actions
      = f.button :submit, 'コメントする', class: 'btn btn-primary'
  %p

-#%td= link_to 'Show', report
-#%td= link_to 'Edit', edit_report_path(report)
-#%td= link_to 'Destroy', report, :method => :delete, :data => { :confirm => 'Are you sure?' }

